<section class="myInterests">
    <p class="summary">I love traveling and visting new places, these keeps me fresh for working environment.Love listening to songs,watching movies and
        playing games with buddies.
        I love traveling and visting new places, these keeps me fresh for working environment. I also spend
        time volunteering many social working events.
    </p>

    <div class="row interestItem no-gutters">
        <div class="col-md-2 ">
            <span class="font30"><i class='fa fa-plane'></i></span>
            <p>Travelling</p>
        </div>
        <div class="col-md-2 ">
            <span class="font30"><i class='fa fa-music'></i></span>
            <p>Music</p>
        </div>
        <div class="col-md-2 ">
            <span class="font30"><i class='fa fa-gamepad'></i></span>
            <p>Games</p>
        </div>
        <div class="col-md-2 ">
            <span class="font30"><i class='fa fa-film'></i></span>
            <p>Film</p>
        </div>

        <div class="col-md-2 ">
            <span class="font30"><i class='fa fa-pagelines'></i></span>
            <p>Gardening</p>
        </div>
        <div class="col-md-2 ">
            <span class="font30"><i class='fa fa-users'></i></span>
            <p>Social Work</p>
        </div>
    </div>
</section>